@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat;

<h2>Delete this treat?</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<br>

<button>
@Html.ActionLink("Back to all treats", "Index")
</button>