@{
  Layout = "_Layout";
}

<h1>Sweet and Savory Treats</h1>

<button>
  @Html.ActionLink("See all treats", "Index", "Treats")
</button>

<button>
  @Html.ActionLink("See all flavors", "Index", "Flavors")
</button>